// Alignment Helpers
// ====================
._c-txt{
	text-align: center;
}

._l-txt{
	text-align: left;
}

._r-txt{
	text-align: right;
}

._c-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

._l-block{
	display: block;
	margin-left: 0;
	margin-right: auto;
}

._r-block{
	display: block;
	margin-left: auto;
	margin-right: 0;
}