#beautiful-taxonomy-filters-shows{
	display: none;
}

.beautiful-taxonomy-filters{
    background: white;
    border-bottom: 4px solid $m-gray !important;
    box-shadow: 1px 1px 4px 0 rgba(82,82,82,0.2);
    margin: 0 !important;
    position: relative !important;

    @include respond-max( $phone ){
		text-align: center;
	}

}

// Modify the Filter Text
// =================
.beautiful-taxonomy-filters-select{
	option{
		color: $m-gray !important;
		text-transform: uppercase;
	}
}


// Style the dropdown wrappers
// ======================
.beautiful-taxonomy-filters-tax .select2{
	left: -14.5%;
	position: relative;
	top: 4px;
	width: 200px !important;

	@include respond-max( $phone ){
		left: 0;
		top: 0;
		display: block;
		margin: 15px auto;
	}

	.selection{
		width: 200px !important;

		.select2-selection{
			border-radius: 0px;
		}

	}

}


// Style the Taxonomy Filter Button
// ==========================
.beautiful-taxonomy-filters-button{
    background: $green !important;
    border-radius: 50px !important;
    position: absolute;
    margin-top: 0 !important;
    top: -4px !important;
    right: 15px !important;

    &:hover,
    &:focus{
	    background: $el-green !important;
    }

    @include respond-max( $phone ){
		left: 0;
		top: 0;
		display: block;
		margin: 0 auto;
		position: relative;
	}

}

// Style Beautiful Taxonomy Filter Labels
// ===============================

.beautiful-taxonomy-filters-label{
    color: $green;
    float: left;
    font-size: .9375rem;
    position: relative;
    text-transform: uppercase;
    top: 8px;

    @include respond-max( $phone ){
	    float: none;
		left: 0;
		top: 0;
		display: block;
		position: relative;
	}


}


// Beautiful Taxonomy Filter Wrap
// =========================
.beautiful-taxonomy-filters-select-wrap{
	text-align: center;
	width: 90%;
}

.beautiful-taxonomy-filters-select-wrap,
#beautiful-taxonomy-filters-form{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#beautiful-taxonomy-filters-form{
	position: relative !important;
}


// Select 2 Select Box
// ==============
.select2-container--default .select2-selection--single{
	background: $l-gray !important;
	border: 0 !important;

	&:focus{
		outline: none !important;
		border-bottom: 3px solid $m-gray !important;
	}

}

// Select 2 Highlighted or Selected item
// ============================
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: $el-green !important;
}

// Select 2 Select Box
// ===============
.select2-container--default .select2-selection--single .select2-selection__rendered{
	color: $m-gray;
}

// Select 2 Dropdown
// ===============
.select2-dropdown{
	border-left: 2px solid $m-gray !important;
	border-right: 2px solid $m-gray !important;
	border-bottom: 2px solid $m-gray !important;
	border-radius: 0 !important;
	position: relative;
	top: -6px;

	 @include respond-max( $phone ){
		 position: inherit;
	 }

}