.gfield_checkbox > li > label,
.gfield_radio > li > label{
	color: lighten( $m-gray, 20% ) !important;
}

.gfield_radio > li > label,
.gfield_checkbox > li > label{

	margin-left: 12px !important;
    position: relative !important;
    top: 2px !important;

}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
	margin-top:0 !important;
}