//CONTACT PAGE FORM

.gfield._pts{
	padding-top:20px !important;
}

#gform_wrapper_2,
#gform_wrapper_3{

	//STYLE ALL TEXT INPUTS INSIDE CONTACT FORM
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	input:not([type]),
	textarea{
	 border: none;
	 border-radius: 0;
	 font-size: 16px !important;
	 font-weight: 400;
	 width: 100%;
	 background-color: $gray;
	 transition: all .3s ease-in;
	 color: lighten( $m-gray, 20% );
	 padding: em( 18 ) em( 15 ) em( 15 ) em( 15 );

		 &:focus{
			 background-color: lighten( $gray, 5% );
		 }


	}

	//Most Labels
	.gfield_label{
		color: $green !important;
		font-weight: 600 !important;
		letter-spacing: 2px;
		font-size: 14px !important;
	}

	//
	li{
		margin-bottom:em( 1 );
	}

}

//Dropdown
/*
#gform_wrapper_2 .medium.gfield_select{
	width: 100%;
	-webkit-appearance: none;
	padding: em( 5 );
	border-radius: 0;
	position: relative;
	border:none;
	background-color: transparent;
	 border-bottom: 1px solid white;
	 transition: all .3s ease;
	 color:white;

	 &:focus{
		 outline: none;
	 }
}
*/

//File Upload Area
#gform_wrapper_2 .gform_drop_area,
#gform_wrapper_3 .gform_drop_area{
	padding:em( 13 );
	position: relative;
	border-color: $m-gray !important;

	span{
		position:relative;
		top:3px;
	}

	//Uplaod Button
	.gform_button_select_files{
		font-family:inherit;
		text-transform: uppercase;
		border-radius: 0;
		border:none;
		border-bottom: 2px solid $gray;
		background-color: transparent;
		color: lighten( $m-gray, 20% ) !important;
		text-shadow: none;
		letter-spacing: 3px;
		font-weight: 300;
		transition: all .3s ease;
		margin-left: em( 10 );
		padding: em( 10 ) em( 8 ) em( 8 ) em( 8 );

		&:hover{
			background-color: $green !important;
			color: lighten( $m-gray, 35% ) !important;
			border-color: $green !important;
		}
	}

}

