//This will change the style of the error message on top of the site
.gform_wrapper div.validation_error {
background: $gray !important;
color: lighten( $m-gray, 20% ) !important;
font-size: 95% !important;
border: none !important;
padding: 1em 0px 1em 70px !important;
font-weight: 400 !important;
letter-spacing: 1px !important;
position: relative !important;

	 &:before{
		 height: 100%;
		 width:60px;
		 background: lighten( $gray, 7% );
		 content:'\f12a';
		 font-family: FontAwesome;
		 position: absolute;
		 left: 0;
		 top:0;
		 z-index: 10;
		 display: block;
		 color: #ff5454;
		 font-size: rem( 25 );
		 padding-left: 5px;
		 padding-top: 14px;
	 }


}

// Change Fields when there is an error
body .gform_wrapper li.gfield.gfield_error,
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required {

border: none;
color: white  !important;
background-color: transparent !important;;
letter-spacing: 2px !important;
width: 100% !important;
}

//Change Label Color and Required Text
.gform_wrapper .gfield_error .gfield_label,
.gform_wrapper .validation_message {
color: #FFFFFF !important;
//font-family: $font_main !important;
font-weight: 700 !important;
letter-spacing: 1px !important;
text-transform: uppercase !important;
color: white !important;
text-shadow: none !important;
}

// Input Field Error Styles
.gform_wrapper li.gfield_error input[type="email"],
.gform_wrapper li.gfield_error input[type="number"],
.gform_wrapper li.gfield_error input[type="password"],
.gform_wrapper li.gfield_error input[type="tel"],
.gform_wrapper li.gfield_error input[type="text"],
.gform_wrapper li.gfield_error input[type="url"],
.gform_wrapper li.gfield_error textarea {

	&:focus{

	}

}


.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label{
	margin-top: 0px !important;
}
