//TEMP Company Colors
//Green
$d-green: #155417;
$m-green: #428245;
$green: #4a914d;
$l-green: #5da460;
$el-green: #6DAD6F;

//Gray
$l-gray: #e6e6e6;
$m-gray:#828282;
$gray: #525252;
$d-gray: #303030;