#audition-intro{
	span{
		@include respond-max( $small ){
			margin-bottom:15px;;
		}
	}
}

.audition-details{
	padding: 60px 60px 50px 60px;

	@include respond-max( $tablet ){
		padding:60px 30px 0px 30px;
	}

}

#audition-details > .four{
	padding: 10px;
}

#audition-requirements{
	padding:30px 60px 20px 60px;

	@include respond-max( $tablet ){
		padding:25px 30px 10px 30px;
	}

}

.audition-details.-top{

	border-top-right-radius: $default-radius;
	border-top-left-radius: $default-radius;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.audition-details-column .fa{
	margin-right:10px;
}

.audition-details-column.four{

	@include respond-max($phone){

			border-bottom: 2px solid lighten( $l-gray, 5% );
			padding-bottom: 15px;
			margin-bottom: 30px;
			width: 100%;
	}

}

.audition-details-column.four:last-child{
	border-bottom: none !important;
}


#audition-requirements{

	border-bottom-left-radius: $default-radius;
	border-bottom-right-radius: $default-radius;

	@include respond-max($phone){
		text-align: center;

		strong{
			display: block;
		}

	}
}

.audition-requirement__item strong,{

	display: block !important;
	margin-bottom: 0px;

}

.audition-prerequisite{

	background: white;
	border-bottom: 4px solid $d-gray;
	border-radius: $default-radius;
	margin-top: 48px;
	padding: 24px;

}