// Home Icon Row
// ==========================
.home-icons{

	.heading{
		margin-bottom: 80px;
	}

	.three > .descr{
		margin-top: 30px;

		@include respond-max( $tablet ){
			margin-bottom: em( 30 );
		}
	}

}

