// We Get it Row
// ========================
.home-get-it{
	background-color: $gray;

	@include respond-max( $small ){
		background-color:$d-gray;
	}

	// Right Column
	>.container >.six.-right{
		padding: 175px 0 167px 0;

		@include respond-max( $small ){
			padding: 60px 0 60px 0;
			border-top: 3px solid $l-green;
		}

	}

	// Set left column Properties
	>.container > .six.-left{
		padding: 175px 0 167px 0;
		background-color: $d-gray;

		@include respond-max( $small ){
			padding: 60px 0 60px 0;
		}

		// Mirror THe BEfore element to extend outside of the cotnainer
		&:before{
			background-color: $d-gray;
			left: -130%;
			width: 130%;
		}

	}

}