//
// Styles Applied to Email Entry and Submit Button
//
#mc4wp-form-1{
	margin-top:40px;
	text-align:center;
}

//
// Styles applied to both the input and the button
//
.playground-news-subscribe > .form-field,
.playground-news-subscribe > .submit-button{

	border-radius: 0 !important;
	height: 50px;
	position: relative;
	width: 100%;

    @include respond-max( 550px ){

		margin-bottom: 10px;

	}


}

//
// Form Wrapper
//
.playground-news-subscribe{

	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 550px;

	@include respond-max( 550px ){
		flex-direction: column;
		max-width: 100%;
	}

}

//
// Email Entry Field
//

.playground-news-subscribe > .form-field{
	   
	   flex: 1;
}

//
// Submit Button
//
.playground-news-subscribe > .submit-button{

	flex: 0 0 170px;
	padding-top: 4px;

	@include respond-max( 550px ){

		flex: 1;

	}

}
