#colophon{

	padding: 120px 0 72px 0;

	&:before{
		background-color: $d-gray;
		@include opacity( .98 );
	}

	.site-copyright{

		text-align: center;

		span{
			font-size: 14px;
			letter-spacing: 1px;
		}
		
	}

}


.site-copyright > .copyright-inner{

	position: relative;


}


.footer-info{

	width: 100%;

	ul{

		margin: 0;
		padding: 0;

	}

	li{

		display: block;
	}

}

.footer-info__col{

	margin-bottom: 64px;

}

.footer-info__item{

	display: inline-block;

}

.footer-info__link{
	font-size: rem( 15 );
	font-weight: 400;
	line-height: 1.6;
	padding: 4px 0 4px 0;

	&:hover{

		color: white;

	}

}