// Styles that affect ALL navigation elements
// =================================

// =================================
// GLOBAL NAVIGATION SETTINGS
// =================================

$global_nav_link_transition: all .1s ease;

// =================================
// GLOBAL NAVIGATION BUILD
// =================================
#primary-menu>li>a{
	transition: $global_nav_link_transition;

	&:hover{
		color: darken( white, 25% );
	}

	&:focus{
		color: darken( white, 25% );
	}

}