.pg-post-item{
	background: white;
	border-radius: $default-radius;
	box-shadow: 1px 1px 4px 0 rgba( $gray, .2 );
	padding: 40px;
	margin: 30px 0;

	@include respond-max( $phone ){
		padding: 30px 25px 15px 25px;
	}

}


.pg-post-item >.post-header > .title-link > .title{
	font-size: rem( 35 );
	line-height: 1.1;
	max-width: 650px;

	@include respond-max( $phone ){

		font-size: rem( 28 );
		max-width: 450px;

	}

}


.pg-post-item.-playing,
.pg-post-item.-rehearsing{
	padding-top:50px;
}