// Bg Color Helpers
// =================
._bg-white{
	background-color: white;
}

._bg-l-green{
	background-color: $l-green;
}

._bg-green{
	background-color: $green;
}

._bg-m-green{
	background-color: $m-green;
}

._bg-d-green{
	background-color: $d-green;
}

._bg-l-gray{
	background-color: $l-gray;
}

._bg-gray{
	background-color: $m-gray;
}

._bg-d-gray{
	background-color: $d-gray;
}