/**
 * Lightcase settings
 *
 * Note: Override default settings for your project without touching this source code by simply
 * defining those variables within a SASS map called '$lightcase-custom'.
 *
 * // Example usage
 * $lightcase-custom: (
 *   'breakpoint': 768px
 * );
 */
$lightcase-default: (
  'font-path': 'framework/assets/fonts/', // Path relative to the compiled css file

  'breakpoint': 641px,

  'overlay-color': darken( $d-gray, 15% ),

  'case-background': $d-gray,
  'case-background-media': $d-gray,

  'icon-font-size': 38px,
  'icon-color': $green,
  'icon-color-hover': $el-green,

  'title-font-size': 17px,
  'title-color': #aaa,

  'caption-font-size': 13px,
  'caption-color': #aaa,

  'sequenceInfo-font-size': 11px,
  'sequenceInfo-color': #aaa,

  'text-shadow': 0 0 10px rgba(0, 0, 0, 0.5),
  'text-color-viewport-small': #aaa,
  'text-color-viewport-large': #333
);

$lightcase-custom: ()!default;
$lightcase-settings: map-merge($lightcase-default, $lightcase-custom);